<a href="https://colab.research.google.com/github/DSaiMeghanaReddy/Deep-Learning-Lab/blob/main/internal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
df = pd.read_csv('/content/drive/MyDrive/Social_Network_Ads (1).csv')
df.head(4)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0

In [10]:
x = df.iloc[:,[2,3]].values
print(x.dtype)

int64

In [11]:
y = df.iloc[:,-1].values

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
cs = StandardScaler()
x_train = cs.fit_transform(x_train)
x_test = cs.transform(x_test)

In [14]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
y_pred = classifier.predict(x_test)

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy = accuracy_score(y_test,y_pred)
c_matrix = confusion_matrix(y_test,y_pred)

In [32]:
print("accuracy = ",accuracy)
print("\nconfusionmatrix")
print(c_matrix)

accuracy =  0.9125

confusionmatrix
[[55  3]
 [ 4 18]]